

.overflow-y-auto::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar width */
    background: transparent; /* Set background color of the scrollbar track */
  }
  
  .overflow-y-auto {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  
  .log-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 5rem; /* Adjust as needed */
  }
  